<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}User portal{% endblock %}</title>
    {% block styles %}
      <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% endblock %}
  </head>
  <body>
    <header>
      <h1>User portal</h1>
    </header>
    <main>
      {% block content %}

      {% endblock %}
    </main>
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <div class="message {{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}
  </body>
</html>
