{% extends "home_base.html" %}

{% block title %}Cart{% endblock %}

{% block content %}

<div class="product-item">
    {% for item in order.items.all %}
        <img src="{{ item.product.image_url }}" alt="{{ item.product.name }}">
        <h3>{{ item.product.name }}</h3>
        <p>Rs {{ item.product.price }}</p>
        <p>{{ item.quantity }}</p>
        <p>Rs {{ item.price }}</p>
        <div>
            <a href="{% url "orders:delete_product_from_cart" item.id %}">Delete</a>
        </div>
    {% endfor %}
</div>
<div>
    <h1>{{ order.total_price }}</h1>
</div>
<div>
    <a href="{% url "orders:show_ticket_form" order.id %}">Make a Support Ticket</a>
</div>
<div>
        <form method="post" action="{% url 'orders:finalize_order' order.id %}">
            {% csrf_token %}
            <button type="submit">Finalize Order</button>
        </form>
</div>
{% endblock %}
