{% extends 'home_base.html' %}

{% block title %}{{ categories.category_name }}{% endblock %}

{% block content %}

<div class="product-grid">
    {% for product in page_object %}
        <div class="product-item">
            <img src="{{ product.image_url }}" alt="{{ product.name }}">
            <h3>{{ product.name }}</h3>
            <p>Rs {{ product.price }}</p>
        </div>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_object.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_object.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_object.number }} of {{ page_object.paginator.num_pages }}.
        </span>

        {% if page_object.has_next %}
            <a href="?page={{ page_object.next_page_number }}">next</a>
            <a href="?page={{ page_object.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
